.main-chat
 .main-chat__group-info
  .grop-info-left
   %p.grop-info-left__name
    test
   %p.grop-info-left__member
    Member:Arai
  .grop-info-right
   = link_to "#", class:"grop-info-right__edit-link" do
    %p.grop-info-right__edit-btn
     Edit
    
 .main-chat__message-list
  .message
   .message__top
    %p.message__top--name
     Arai
    %p.message__top--date-time
     2020/04/20(Mon) 23:37
   %p.message__content
    おはよう！

   .message__top
    %p.message__top--name
     Arai
    %p.message__top--date-time
     2020/04/20(Mon) 23:37
   %p.message__content
    おはよう！

   .message__top
    %p.message__top--name
     Arai
    %p.message__top--date-time
     2020/04/20(Mon) 23:37
   %p.message__content
    おはよう！

 .main-chat__message-form
  %form.message-items
   .message-items__content
    %input.message-items__content--text{:placeholder => "type a message",:type => "text"}/
    %label{class: "message-items__content--image"}
     %i.fa.fa-image.message-items__content--image-icon
     %input.message-items__content--image-file-btn{:type => "file"}/
     
   %input.message-items__send-btn{:value => "Send",:type => "submit"}/
    
   
